nav {
  border: 1px solid hotpink;
  
  /* huvudmenyn följer med om man scrollar */
  position: sticky;
  top: 0px;
  /* ---------------------------------------- */
}

nav ul {
  list-style-type: none;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
}

nav li {
  margin: 10px 10px;
}