/* https://www.youtube.com/watch?v=PwWHL3RyQgk */


/* @import url(''); <-- för o importera ex. font */

#topShelf {
  background: #3b3b3b;
  color: coral;
  font-size: 24px;
  padding: 40px 0px;
  text-align: right;
}

#topshelfH1 {
  margin-right: 30px;
  font-size: 24px;
}

#topshelfH2 {
  margin-top: 10px;
  margin-right: 30px;
  
  font-size: 16px;
  font-style: italic;
}

nav {
  border-top: 18px solid #3b3b3b;
  border-bottom: 18px solid #3b3b3b;
  background-color: darkslategrey;
  /* huvudmenyn följer med om man scrollar */
  position: sticky;
  top: 0px;
  padding:5px 0px 
  /* ---- */
}

nav ul {
  margin:auto;
  width: fit-content;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  padding-left: 10px;
  display: inline;
}

#headerTitle {
  font-size: 18px;
  letter-spacing: 3px;
  border-right: 2px solid white;
  padding-right: 10px;
}


/* transition colors trick from https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/ */
.headerLink {
  color: coral;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.headerLink:hover{
  color: white;
  transition: color 300ms ease;

}


