
nav {
  border-bottom: 1px solid hotpink;
  background-color: darkslategrey;
  /* huvudmenyn följer med om man scrollar */
  position: sticky;
  top: 0px;
  /* ---- */
}

#topShelf {
  background: #2b136e;
  color: coral;
}

nav ul {
  list-style-type: none;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
}

nav li {
  margin: 10px 10px;
  display: inline;
}

.headerLink {
  text-decoration: none;
  color: coral;
}
.headerLink:hover{
  color: white;
}

#headerTitle {
  font-size: 18px;
  letter-spacing: 3px;
}
