body {
  margin: 0px;
  padding: 0px;
  background-color: teal;
  color: white;
}

.clr {
  clear: both;
}

#blogg_container {
  color:black;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

#blogg_container h1 {
  font-family:"roboto", sans-serif;
  color: rgb(255, 152, 56);
  margin:0;
  padding: 0;
}

#blogg_container .recent {
  margin: 0;
  padding: 0;
  max-height: 15%;
  display: flex;
  border: 1px solid black; 
  clear:right;
  
}

#blogg_container a{
  text-decoration: none;
  color:inherit;
  font-family: inherit;
}

#blogg_container .recent article {
  max-width: 250px;
  margin: 0 10px;
  overflow: hidden;
}

#blogg_container .recent article:first-of-type {
  margin-left:0;
}

#blogg_container .recent article:last-of-type {
  margin-left:0;
}

#blogg_container .recent article p {
  margin: 0;
  font-weight: bold;
  font-family:"roboto", sans-serif;
}

#blogg_container .recent article h6 {
  font-family:"roboto", sans-serif;
  color:grey;
  font-weight:1400;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: right;
}

#blogg_container .recent article img {
  width: 250px;
  height: 150px;
}

#blogg_container .hot {
  border: 1px solid black;
  margin:0;
  padding:0;
  margin-top:20px;
}

#blogg_container .imgCoronaWide {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 40%;
}

#blogg_container .corona {
  margin: 0;
  padding: 0;
  max-height: 15%;
  max-width: 80%;
  display: flex;
  border: 1px solid black; 
  clear:right;
}